<section class="lg:px-8 py-8">
    <div
        class="bg-gray-100 rounded-xl p-8 md:p-12 flex flex-col md:flex-row items-center justify-between relative overflow-hidden"
    >
        <div class="z-10 md:w-1/2 space-y-4">
            <h2 class="text-3xl font-bold text-gray-900">
                Economize Muito em Itens Selecionados
            </h2>
            <p class="text-gray-500 text-sm max-w-sm">
                Capture seus melhores momentos com drones de alta qualidade. Até
                30% de desconto neste fim de semana.
            </p>
            <button
                class="bg-brand text-white px-6 py-2 rounded text-sm hover:bg-brand-dark transition mt-2"
            >
                Ver Produtos
            </button>
        </div>
        <div class="mt-8 md:mt-0 md:w-1/2 flex justify-end z-10 relative">
            <img
                src="/i7.png"
                alt="[Image of Drone]"
                class="max-h-64 object-contain mix-blend-multiply transform scale-130 -mr-[50px] transition duration-500"
            />
        </div>
    </div>
</section>
