<form 
    (ngSubmit)="onSearch()" 
    class="flex w-full bg-white rounded-full overflow-hidden h-12 relative"
>
    <div class="flex-1 relative flex items-center pl-6">
        <input 
            type="text" 
            name="searchInput"
            id="search-input" 
            [ngModel]="searchTerm()"
            (ngModelChange)="searchTerm.set($event)"
            placeholder="O que você está procurando hoje?" 
            class="w-full h-full outline-none text-base text-gray-700 placeholder-gray-400 bg-transparent pr-10"
        >
        
        @if (searchTerm()) {
            <button 
                type="button" 
                (click)="clearSearch()" 
                class="absolute right-2 flex items-center text-gray-300 hover:text-red-500 transition-colors z-10 p-2"
                aria-label="Limpar busca"
            >
                <i class="ph-fill ph-x-circle text-xl"></i>
            </button>
        }
    </div>

    <button 
        type="submit" 
        class="bg-gray-900 text-white px-8 hover:bg-gray-800 transition-colors flex items-center justify-center focus:outline-none m-1 rounded-full"
        aria-label="Buscar"
    >
        <i class="ph ph-magnifying-glass text-xl font-bold"></i>
    </button>
</form>