<section
    class="container mx-auto px-4 lg:px-8 py-10 mb-8 border-b border-gray-100"
>
    <div
        class="flex flex-wrap justify-center md:justify-between items-center opacity-70 grayscale hover:grayscale-0 transition duration-500 gap-8 pb-6"
    >
        <h4 class="text-2xl font-bold italic text-black">SAMSUNG</h4>
        <h4
            class="text-xl font-semibold text-black tracking-tight flex items-center"
        >
            <i class="ph-fill ph-open-ai-logo mr-1 text-2xl"></i>OpenAI
        </h4>
        <h4 class="text-2xl font-bold text-black tracking-tighter">amazon</h4>
        <h4 class="text-xl font-bold text-black flex items-center">
            Tencent
            <span class="ml-1 text-lg font-normal">腾讯</span>
        </h4>
        <h4 class="text-xl font-bold flex items-center">
            <i class="ph-fill ph-spotify-logo mr-1 text-2xl"></i>Spotify
        </h4>
    </div>
</section>
